body {
 text-align:center;   
 font-family: 'Indie Flower', cursive;

}

img {
 height:200px;   
 border:8px double #54a6ff;
}

.images{
 margin-top:20px;   
}
input{
    width:130px;
     border:8px double #54a6ff;
}


button{
    border:8px double #ebffe5;
    
}


h1{
    border:8px double #2dffd1;
    
}

p{
    border:8px double #d8ff00;
    
}